<div class="author-social-links">
  <div class="social-follow">
    <div class="social-label">Connect With Mask Intelligence</div>
    <div class="social-icons-inline">
      <a href="https://www.facebook.com/profile.php?id=61586114142835&mibextid=ZbWKwL" class="facebook" target="_blank" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://ug.linkedin.com/in/mask-intelligence-603348378" class="linkedin" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/maskintelligence-gif" class="github" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:maskintelligence@gmail.com" class="email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="tel:+256791715573" class="phone" title="Call +256 791 715 573">
        <i class="fas fa-phone-alt"></i>
      </a>
    </div>
  </div>
</div>

<
  color: var(--text-color-light);
  font-size: 0.95rem;
  margin-top: 15px;
  font-style: italic;
}
