/* ==========================================================================
   Default skin
   ========================================================================== */

/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
:root {
  --primary-color: #0f766e;     /* Teal - sophistication */
  --accent-color: #64748b;      /* Slate - neutrality */
  --text-color: #0f172a;        /* Almost black */
}
